---
layout: page
description: "Xin chào"
---
<div id="quote-container">
    <p id="quote"></p>
    <p id="author"></p>
</div>
<style>
    #quote-container {
        background-color: #fff;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    #quote {
        font-size: 18px;
        font-style: italic;
        margin-bottom: 10px;
    }

    #author {
        font-size: 14px;
        color: #555;
    }
</style>

<script>
    // source api: https://github.com/lukePeavey/quotable
    fetch('https://api.quotable.io/quotes/random?tags=technology,famous-quotes')
        .then(response => response.json())
        .then(data => {
            console.log(data);
            document.getElementById('quote').innerText = data[0].content;
            document.getElementById('author').innerText = `- ${data[0].author}`;
        })
        .catch(error => console.error('Error fetching quote:', error));
</script>

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {% if post.lang == 'en' %}
            {{ post.content | strip_html | truncate:300 }}
            {% else %}
            {{ post.content | strip_html | truncate:200 }}
            {% endif %}
        </div>
    </a>
    <p class="post-meta">
        {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} vào {{ post.date | date: "%B %-d, %Y"
        }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Bài viết mới
            hơn</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Bài viết cũ hơn &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}